# Unity generated folders
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/

# Unity cache
Packages/PackageCache/

# OS / IDE
.vscode/
.vs/
.DS_Store
Thumbs.db

# Crash reports
sysinfo.txt

# Visual Studio
*.csproj
*.sln

# Dynamic libs & big files
*.dylib
*.so
*.a

# Artifact Database
Library/ArtifactDB
